/* 
    Document   : MAIN LAYOUT
    Created on : Oct 14, 2012, 8:24:40 PM
    Author     : Warman Suganda
    Description:
        Purpose of the stylesheet follows.
*/

* { padding:0;margin:0;outline:0; }
body { background: #fff;font-family: "lucida grande" ,tahoma,verdana,arial,sans-serif;font-size: 11px; }
.cl { font-size:0;line-height:0;height:0;display:block;clear:both; }

#outline {
    min-width: 1030px;
}

#loading-progress {
    display: none;
    border: 1px solid #474747;
    position: fixed;
    z-index: 9999;
    padding: 6px 20px 6px 30px;
    top: -2px;
    left: 50%;
    background: url('../images/arrows16.gif') no-repeat;
    background-position: 10px center;
    background-color: #fff;
    -webkit-border-bottom-right-radius: 4px;
    -webkit-border-bottom-left-radius: 4px;
    -moz-border-radius-bottomright: 4px;
    -moz-border-radius-bottomleft: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    -webkit-box-shadow: 0px 3px 8px rgba(50, 50, 50, 0.58);
    -moz-box-shadow:    0px 3px 8px rgba(50, 50, 50, 0.58);
    box-shadow:         0px 3px 8px rgba(50, 50, 50, 0.58);
    font-family: "lucida grande" ,tahoma,verdana,arial,sans-serif;
    font-size: 11px;
}

#header {
    background: url('../images/bg.png');
    border-bottom: 5px solid #fb9337;
    height: 38px;
    position:fixed;
    width: 100%;
    z-index: 999;
    top:0;
}

#fix-left {
    /*
    position:fixed;
    z-index: 99;
    left: 0;
    top:43px;
    */
    float: left;
    width: 230px;
}

#fix-right {
    position:fixed;
    z-index: 99;
    right: 0;
    top:43px;
}

#content {
    margin-top: 43px;
    min-width: 1035px;
}

#live-view {
    float: left;
    width: 800px;
}

#footer {
    color: #7e7e7e;
    font-family: "lucida grande" ,tahoma,verdana,arial,sans-serif;  
    font-size: 11px;
    padding: 4px 0;
    display: none;
}

#header #logo {
    color: #fff;
    text-shadow: 2px 1px 1px #394962;
    font-size: 20px;
    font-weight: bold;
    padding: 7px 0 0 10px;
}

#m-account {

}

#m-account a#m-account-parent{
    float: right;
    text-align: left;
    border: 1px solid #2e3e56;
    background-color: #394962;
    margin: 5px 5px 0 0;
    color: #fff;
    text-decoration: none;
    padding: 6px 25px 6px 10px;
    display: block;
}

#m-account a.slide-on {
    background: url('../images/down-arrow-white-on.png') no-repeat;
    background-position: 75px 10px;
}

#m-account a.slide-of {
    background: url('../images/down-arrow-white-on.png') no-repeat;
    background-position: 75px 10px;
}

#m-account ul#m-account-child {
    float: right;
    display: none;
    border: 1px solid #2e3e56;
    background-color: #394962;
    margin: 0 5px 0 0;
    text-align: left;
    width: 150px;
}

#m-account ul#m-account-child a{
    display: block;
    padding: 8px 25px;
    font-family: "lucida grande" ,tahoma,verdana,arial,sans-serif;  
    font-size: 11px;
    color: #fff;
    text-decoration: none;
    background-position: 4px center;
}

#m-account ul#m-account-child a:hover{
    background-color: #283c5a;
}

#m-account ul#m-account-child li{
    list-style: none;
}

.fl-left {
    float: left;
}

.fl-right {
    float: right;
}

.border-top {
    border-top: 1px solid #ccc;
}

.border-bottom {
    border-bottom: 1px solid #ccc;
}

.border-left {
    border-left: 1px solid #ccc;
}

.border-right {
    border-right: 1px solid #ccc;
}

.left-user-info {
    padding: 4px;
    border-bottom: 1px solid #eee;
}

.left-user-info .left-title {
    margin: 0 0 0 4px;
}

.left-user-info .left-box-main-icon img {
    border: 1px solid #d4dae8;
    padding: 2px;
    margin-right: 4px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.left-user-info .left-name {
    padding-bottom: 5px;
}

.left-user-info .left-welcome {
    font-family: "lucida grande" ,tahoma,verdana,arial,sans-serif;  
    font-size: 11px;
}

.left-user-info .left-name a {
    font-weight: bold;
    font-family: "lucida grande" ,tahoma,verdana,arial,sans-serif;  
    font-size: 11px;
    text-decoration: none;
    color: #32415a;
}

.left-user-info .left-name a:hover {
    text-decoration: underline;
}

.left-user-info a[class=btn-blue] {
    background: url('../images/bg-btn-blue.png') repeat-x;
    padding: 5px;
    font-family: "lucida grande" ,tahoma,verdana,arial,sans-serif;  
    font-size: 11px;
    color: #fff;
    text-decoration: none;
    border: 1px solid #3079ed;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    opacity:0.8;
    filter:alpha(opacity=80); /* For IE8 and earlier */
    display: inline-block;
}

.left-user-info a[class=btn-blue]:hover{
    opacity:1.0;
    filter:alpha(opacity=100); /* For IE8 and earlier */
}

.left-user-info .left-thumbnail img {
    border: 1px solid #ccc;
    padding: 2px;
}

.hr-solid-grey {
    border-top: 1px solid #ccc;
}

/* 
    Document   : ICON COLECTION
    Created on : Oct 14, 2012, 8:24:40 PM
    Author     : Warman Suganda
    Description:
        Purpose of the stylesheet follows.
*/

.black16-ic-bag {
    background: url(../images/black16/bag.png) no-repeat;
}

.black16-ic-counseling {
    background: url(../images/black16/counseling.png) no-repeat;
}

.black16-ic-percent {
    background: url(../images/black16/percent.png) no-repeat;
}

.black16-ic-home {
    background: url(../images/black16/home.png) no-repeat;
}

.black16-ic-cv {
    background: url(../images/black16/cv.png) no-repeat;
}

.black16-ic-help {
    background: url(../images/black16/help.png) no-repeat;
}

.orange16-ic-lock {
    background: url(../images/orange16/lock.png) no-repeat;
}

.orange16-ic-signout {
    background: url(../images/orange16/sign-out.png) no-repeat;
}

.orange16-ic-hireme {
    background: url(../images/orange16/hire-me.png) no-repeat;
}

.orange16-ic-config {
    background: url(../images/orange16/config.png) no-repeat;
}

.orange16-ic-lightbulb {
    background: url(../images/orange16/lightbulb.png) no-repeat;
}

.orange16-ic-collaboration {
    background: url(../images/orange16/collaboration.png) no-repeat;
}

/* 
    Document   : MENU STYLE
    Created on : Oct 14, 2012, 8:24:40 PM
    Author     : Warman Suganda
    Description:
        Purpose of the stylesheet follows.
*/

ul.m-left {

}

ul.m-left li.toggle-on {
    background: url('../images/down-arrow-grey-on.png') no-repeat;
    background-position: 210px 16px;
}

ul.m-left li.toggle-of {
    background: url('../images/down-arrow-grey-of.png') no-repeat;
    background-position: 210px 16px;
}

ul.m-left li a{
    display: block;
    padding: 15px 15px 15px 35px;
    text-decoration: none;
    color: #32415a;
    font-weight: bold;
}

ul.m-left li a.user{
    background: url('../images/user.png') no-repeat;
    background-position: 10px center;
}

ul.m-left li a.apps{
    background: url('../images/orange16/library.png') no-repeat;
    background-position: 10px center;
}

ul.m-left li a.border-bottom{
    border-color: #eeeeee;
}

ul.m-left ul {
    display: none;
    border-bottom: 1px solid #eeeeee;
}

ul.m-left ul li{
    list-style: none;
    border-left: 1px dashed #ccc;
    margin: 0 0 0 25px;
}

ul.m-left ul li a {
    padding: 15px 15px 15px 12px;
    background: url('../images/dashed-grey.png') no-repeat;
    background-position: left center;
    font-weight: normal;
}


/* 
    Document   : APLICATION STYLE
    Created on : Oct 14, 2012, 8:24:40 PM
    Author     : Warman Suganda
    Description:
        Purpose of the stylesheet follows.
*/

.apps {
    margin: 0;
    padding: 0;
}

.apps-banner {
    height: 120px;
    background-color: #f9f9f9;
    padding: 15px;
}

.apps-title {
    color: #485b79;
    font-family: "lucida grande" ,tahoma,verdana,arial,sans-serif;  
    font-size: 30px;
    font-weight: bold;
}

.apps-description {
    color: #666666;
    font-family: "lucida grande" ,tahoma,verdana,arial,sans-serif;  
    font-size: 11px;
    margin: 2px 0 0 0;
}

.apps-menu {
    background: url('../images/bg-menu-grey.png') repeat-x;
    border-top: 1px solid #eeeeee;
}

.apps-menu ul li{
    list-style: none;
    float: left;
    border-right: 1px solid #eeeeee;
}

.apps-menu ul li a {
    padding: 10px;
    text-decoration: none;
    padding: 9px 20px;
    display: block;
    font-family: "lucida grande" ,tahoma,verdana,arial,sans-serif;  
    color: #464646;
    font-size: 11px;
    font-weight: bold;
}

.apps-menu ul li a.active {
    background-color: #fff;
}

.apps-menu ul li a:hover {
    text-decoration: underline;
}

.apps-menu ul li.cofig {
    right: 0;
    float: right;
    position: relative;
    border: none;
    margin: 0;
    padding: 0;
}

.apps-menu ul li.cofig div.parent-title {
    background: url('../images/black16/settings.png') no-repeat;
    background-position: 6px center;
    padding: 8px 10px 8px 26px;
    margin: 0 0 1px 0;
    cursor: pointer;
    z-index: 99;
    font-size: 11px;
    font-weight: bold;
}

.apps-menu ul li.cofig div.content {
    right: -1px;
    position:absolute;
    border-bottom: 1px solid #c7c7c7;
    border-left: 1px solid #c7c7c7;
    border-right: 1px solid #c7c7c7;
    min-width: 160px;
    background-color: #f9f9f9;
    z-index: 999;
    display: none;
}

.apps-menu ul li.cofig div.content ul li {
    width: 99.9%;
    display: block;
    border-right: 1px solid #c7c7c7;
}

.apps-menu ul li.cofig div.content ul li:hover {
    background-color: #eee;
}

.apps-menu ul li.cofig div.content a {
    font-weight: normal;
    display: block;
    text-decoration: none;
    background-position: 4px center;
    padding-left: 32px;
}

/* 
    Document   : LOGIN STYLE
    Created on : Oct 14, 2012, 8:35:29 PM
    Author     : ws
    Description:
        Purpose of the stylesheet follows.
*/

#form_login input[type=submit] {
    background: url('../images/bg-btn-blue.png') repeat-x;
    padding: 5px;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    color: #fff;
    text-decoration: none;
    border: 1px solid #3079ed;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    opacity:0.8;
    filter:alpha(opacity=80); /* For IE8 and earlier */
    cursor: pointer;
}

#form_login input[type=submit]:hover {
    opacity:1.0;
    filter:alpha(opacity=100); /* For IE8 and earlier */
}

#form_login input[type=text], input[type=password] {
    padding: 5px;
}

#form_login .box-login {
    border: 1px solid #ebebeb;
    padding: 10px;
    margin: 10px;
    font-family: "lucida grande" ,tahoma,verdana,arial,sans-serif;font-size: 14px;
    width: 275px;
    -webkit-box-shadow: 0px 0px 8px #ebebeb;
    -moz-box-shadow:    0px 0px 8px #ebebeb;
    box-shadow:         0px 0px 8px #ebebeb;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

#form_login .box-login .title {
    margin-bottom: 10px;
    padding-bottom: 10px;
    font-family: "lucida grande" ,tahoma,verdana,arial,sans-serif;font-size: 14px;
    font-weight: bold;
}

#form_login .box-login label[class=error] {
    font-family: "lucida grande" ,tahoma,verdana,arial,sans-serif;
    font-size: 11px;
    color: #dd3c10;
}

#form_login .box-login a {
    font-family: "lucida grande" ,tahoma,verdana,arial,sans-serif;font-size: 12px;
    text-decoration: none;
    color: #3b5998;
}

#form_login .box-login a:hover {
    text-decoration: underline;
}

#form_login .box-login input[type=text], input[type=password] {
    padding: 10px;
    border: 1px solid #ebebeb;
    width: 250px;
    font-family: "lucida grande" ,tahoma,verdana,arial,sans-serif;font-size: 14px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

#form_login .box-login input[id=button_login] {
    padding: 10px;
    border: 1px solid #ccc;
    width: 90px;
    font-family: "lucida grande" ,tahoma,verdana,arial,sans-serif;font-size: 14px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    font-weight: bold;
    background-color: #4888ef;
}

#form_login .box-login .message .box_message {
    padding: 5px;
    font-family: "lucida grande" ,tahoma,verdana,arial,sans-serif;font-size: 11px;
}

#form_login .box-login .message .error {
    border: 1px solid #dd3c10;
    color: #333333;
    background-color: #ffebe8;
    text-shadow: 2px 1px 1px #fff;
}

#form_login .box-login div {
    margin: 2px 0;
}

.box-index {
    width: 800px;
}