/* 
    Document   : style_pages
    Created on : Oct 14, 2012, 8:24:40 PM
    Author     : ws
    Description:
        Purpose of the stylesheet follows.
*/


.page {
    margin: 0;
    padding: 0;
    height: 800px;
}

.page-banner {
    height: 120px;
    background-color: #f9f9f9;
    padding: 15px;
}

.page-title {
    color: #485b79;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 30px;
    font-weight: bold;
}

.page-description {
    color: #666666;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 11px;
    margin: 2px 0 0 0;
}

.page-menu {
    background: url('../images/bg-menu-grey.png') repeat-x;
    border-top: 1px solid #eeeeee;
}

.page-menu ul li{
    list-style: none;
    float: left;
    border-right: 1px solid #eeeeee;
}

.page-menu ul li a {
    padding: 10px;
    text-decoration: none;
    padding: 9px 20px;
    display: block;
    font-family: Arial,Helvetica,sans-serif;
    color: #464646;
    font-size: 11px;
    font-weight: bold;
}

.page-menu ul li a.active {
    background-color: #fff;
}

.page-menu ul li a:hover {
    text-decoration: underline;
}

.page-menu ul li.cofig {
    right: 0;
    float: right;
    position: relative;
    border: none;
    margin: 0;
    padding: 0;
}

.page-menu ul li.cofig div.parent-title {
    background: url('../images/black16/settings.png') no-repeat;
    background-position: 6px center;
    padding: 8px 10px 8px 26px;
    margin: 0 0 1px 0;
    cursor: pointer;
    z-index: 99;
    font-size: 11px;
    font-weight: bold;
}

.page-menu ul li.cofig div.content {
    right: -1px;
    position:absolute;
    border-bottom: 1px solid #c7c7c7;
    border-left: 1px solid #c7c7c7;
    border-right: 1px solid #c7c7c7;
    min-width: 150px;
    background-color: #f9f9f9;
    z-index: 99;
    display: none;
}

.page-menu ul li.cofig div.content ul li {
    width: 99.9%;
    display: block;
    border-right: 1px solid #c7c7c7;
}

.page-menu ul li.cofig div.content ul li:hover {
    background-color: #eee;
}

.page-menu ul li.cofig div.content a {
    font-weight: normal;
    display: block;
    text-decoration: none;
    background-position: 4px center;
    padding-left: 25px;
}
