/* 
    Document   : custom
    Created on : Jan 5, 2012, 2:06:15 AM
    Author     : WS
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

ul#navigation {
    margin: 0;
    padding: 0;
}

ul#navigation li {
    list-style:none;
    float:left;
    border: 1px solid #d6d6d6;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

ul#navigation li:hover {
    border-color: #868686;
}

ul#navigation li a {
    display: block;
    padding: 2px 15px;
    font-family: Arial,Helvetica,sans-serif;
    text-decoration: none;
    font-size: 12px;
    color: #00102d;
    text-shadow: 1px 1px 1px #fff;
}

ul#navigation li ul {
    margin: 0;
    background-color: #f0f0f0;
    padding: 2px;
    border: 1px solid #a0a0a0;
    z-index: 999;
}

ul#navigation li ul li {
    width: 100%;
    border: none;
}

ul#navigation li ul li:hover {
}

ul#navigation li ul li a {
    display: block;
    padding: 5px;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    color: #00102d;
    background-color: #f0f0f0;
    border: none;
}

ul#navigation li ul li a:hover {
    color: #fff;
    background-color: #3399ff;
    border: none;
    text-shadow: 1px 1px 1px #00102d;
}

table.list thead tr{
    background: url('../images/bg_top.png') repeat-x;
    background-position: 0 -84px;
}

table.list thead tr th{
    border-right: 1px solid #ccc;
    border-top: 1px solid #ccc;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    text-decoration: none;
    font-size: 11px;
    font-weight: bold;
    color: #00102d;
    padding: 9px 6px;
    text-shadow: 1px 1px 1px #fff;
}

table.list thead tr th.first {
    border-left: 1px solid #ccc;
}

table.list tbody tr{
    border-bottom: 1px solid #ccc;
}

table.list tbody tr td {
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    text-decoration: none;
    font-size: 11px;
    color: #00102d;
    padding: 6px;
}

table.list tbody tr td.first {
    border-left: 1px solid #ccc;
}

table.list tbody tr.selected {
    background-color: #ececec;
}

table.list tbody tr.genap {
    background-color: #f8f8f8;
}

table.list tbody tr.ganjil {
    background-color: #fff;
}

table.list tbody tr:hover{
    background-color: #ececec;
}

table.list tbody tr.paging{
    background-color: #ececec;
}

table.list tbody tr.paging div.left{
    float:left;
    text-align: left;
}

table.list tbody tr.paging div.right{
    float: right;
    text-align: right;
    padding-top: 10px;
    padding-right: 5px;
}

label.error {
    color: red;
    font-style: italic;
    font-size: 12px;
    font-family: Arial,Helvetica,sans-serif;
}

input[type=text], input[type=password], select, textarea {
    border: 1px solid #ccc;
    padding: 5px;
    color: #00102d;
    
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
}

input[type=button]:hover, input[type=submit]:hover, input[type=reset]:hover{
    background-color: #f4f4f4;
}

input[type=button], input[type=submit], input[type=reset] {
    border: 1px solid #ccc;
    padding: 5px 10px 5px 24px;
    color: #00102d;
    font-weight: bold;
    text-shadow: 1px 1px 1px #fff;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    cursor: pointer;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 14px;
    -moz-box-shadow:    0px 0px 2px 0px #000;
    -webkit-box-shadow: 0px 0px 2px 0px #000;
    box-shadow:         0px 0px 2px 0px #000;
}

input[class=action_add] {
    background: url('../images/03.png') no-repeat;
    background-position: 5px 5px;
    background-color: #e6e6e6;
}

input[class=action_delete] {
    background: url('../images/01.png') no-repeat;
    background-position: 5px 5px;
    background-color: #e6e6e6;
}

input[class=action_save] {
    background: url('../images/45.png') no-repeat;
    background-position: 5px 5px;
    background-color: #e6e6e6;
}

input[class=action_cancel] {
    background: url('../images/50.png') no-repeat;
    background-position: 5px 5px;
    background-color: #e6e6e6;
}

input[class=action_back] {
    background: url('../images/18.png') no-repeat;
    background-position: 5px 5px;
    background-color: #e6e6e6;
}

input[class=action_login] {
    background: url('../images/13.png') no-repeat;
    background-position: 5px 5px;
    background-color: #e6e6e6;
}

input[class=action_search] {
    background: url('../images/49.png') no-repeat;
    background-position: 5px 5px;
    background-color: #e6e6e6;
}

input[class=action_next] {
    background: url('../images/35.png') no-repeat;
    background-position: 5px 5px;
    background-color: #e6e6e6;
}

input[class=action_prev] {
    background: url('../images/36.png') no-repeat;
    background-position: 5px 5px;
    background-color: #e6e6e6;
}

input[class=action_print] {
    background: url('../images/print.png') no-repeat;
    background-position: 5px 5px;
    background-color: #e6e6e6;
}

div.box_message {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    padding: 5px 5px 5px 70px;
    min-height: 50px;
    margin: 5px 0;
}

div.error {
    border: 1px solid #e8aaad;
    background: url('../images/comment_error.png') no-repeat;
    background-color: #f9e5e6;
}

div.error div.title_message_error {
    color: #b50007;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 16px;
    font-weight: bold;
    text-shadow: 1px 1px 1px #fff;
}

div.error div.description_message_error {
    color: #b50007;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    text-shadow: 1px 1px 1px #fff;
}

div.succes {
    border: 1px solid #b4e8aa;
    background: url('../images/comment_add.png') no-repeat;
    background-color: #e9f9e5;
}

div.succes div.title_message_sucess {
    color: #1c8400;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 16px;
    font-weight: bold;
    text-shadow: 1px 1px 1px #fff;
}

div.succes div.description_message_succes {
    color: #1c8400;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    text-shadow: 1px 1px 1px #fff;
}

div.myTab {
    clear: both;
}

div.myTab ul.header {
    list-style: none;
    padding: 0;
    margin: 0;
}

div.myTab ul.header li {
    padding: 5px 10px;
    margin: 0 2px;
    float: left;
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
}

div.myTabContent {
    clear: both;
    border: 1px solid #ccc;
    padding: 5px;
}

fieldset {
    border: 1px solid #ccc;
}

legend {
    border: 1px solid #ccc;
    padding: 5px;
}

#preview_call_number {
    border: 1px solid #ccc;
    width: 135px;
    padding: 10px;
    float: left;
}

#preview_call_number div {
    padding: 5px;
    background-color: #f8f8f8;
    margin: 4px 0;
    text-align: center;
}

#desc_call_number {
    padding: 10px;
    float: left;
}

#desc_call_number div {
    padding: 5px;
    margin: 4px 0;
}

.confFrameCatalogue {
    float: left;
    width: 610px;
    margin: 10px;
}

.confCatalogue {
    border: 1px solid #ccc;
    width: 600px;
    padding: 30px 10px;
  
    -moz-box-shadow:    0px 0px 5px 1px #ccc;
    -webkit-box-shadow: 0px 0px 5px 1px #ccc;
    box-shadow:         0px 0px 5px 1px #ccc;
}

.confCallNumber {
    width: 80px;
}

.confContent {
    padding-left: 30px;
}

.resensi_editor {
    width: 800px;
    text-align: center;
    margin: 10px;
    padding : 10px;
    -moz-box-shadow:    0px 0px 10px 1px #ccc;
    -webkit-box-shadow: 0px 0px 10px 1px #ccc;
    box-shadow:         0px 0px 10px 1px #ccc;
}

.flexigrid div.fbutton .add {
    background: url(../images/add.png) no-repeat center left;
}

.flexigrid div.fbutton .delete {
    background: url(../images/close.png) no-repeat center left;
}

.flexigrid div.fbutton .print {
    background: url(../images/print.png) no-repeat center left;
}

.flexigrid div.fbutton .issue {
    background: url(../images/issue.png) no-repeat center left;
}

.flexigrid div.fbutton .card {
    background: url(../images/credit-card.png) no-repeat center left;
}

.flexigrid div.fbutton .earse {
    background: url(../images/earse.png) no-repeat center left;
}

.label-ina {
    font-weight: bold;
}

.label-eng {
    font-style: italic;
    font-size: 10px;
}

.tips-ina {
    
}

.tips-eng {
    font-style: italic;
    font-size: 10px;
}