/* 
    Document   : custom
    Created on : Jan 5, 2012, 2:06:15 AM
    Author     : WS
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
    display: block;
}

body {
    background: silver;
    font-size: 12px;
}

#header {
    padding: 20px;
    background: darkcyan;
}

#header h1 {
    color : #fff;
    text-shadow: 1px 1px 1px #000;
}

#content {
    padding: 20px;
    background: #fff;
}

#footer {
    padding: 20px;
    background: grey;
    color: #fff;
    text-align: right;
    text-shadow: 1px 1px 1px #000;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 11px;
}

#page_menu {
    background: #000;
    padding-top: 14px;
    height: 29px;
}

#page_menu a {
    margin: 4px;
    padding: 6px;
    color: #fff;
    border: 1px solid #fff;
    text-decoration: none;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
}

#page_menu a:hover {
    color: gold;
    border: 1px solid gold;
}

input[type=text], input[type=password], select {
    padding : 4px;
    border: 1px solid #ccc;
}

input[type=submit] {
    padding : 4px;
    background: #bbb;
    border: 1px solid #aaa;
}

input[type=submit]:hover {
    background: #ccc;
}

.flexigrid div.fbutton .add {
    background: url(../images/add.png) no-repeat center left;
}

.flexigrid div.fbutton .delete {
    background: url(../images/close.png) no-repeat center left;
}

.flexigrid div.fbutton .print {
    background: url(../images/print.png) no-repeat center left;
}

.boxfilter {
    border: 1px solid #ccc;
    margin-bottom: 5px;
    padding: 5px;
}

.boxfilter input[type=text], select {
    padding: 5px;
}

.boxfilter input[type=submit] {
    padding: 6px 20px;
    background: #f5f5f5;
    cursor: pointer;
}

div.myBox {
    padding: 5px;
    border: 1px solid #ccc;
}

div.myBox .title {
    background: #ccc;
    padding: 5px;
    font-weight: bold;
    text-align: left;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 14px;
}

div.myBox .content {
    padding-top: 5px;
    text-align: left;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
}

label.error {
    font-size: 11px;
    color:red;
    font-family: Arial,Helvetica,sans-serif;
}

div.box_message {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    padding: 5px 5px 5px 70px;
    min-height: 50px;
    margin: 5px 0;
}

div.error {
    border: 1px solid #e8aaad;
    background: url('../images/comment_error.png') no-repeat;
    background-color: #f9e5e6;
}

div.error div.title_message_error {
    color: #b50007;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 16px;
    font-weight: bold;
    text-shadow: 1px 1px 1px #fff;
}

div.error div.description_message_error {
    color: #b50007;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    text-shadow: 1px 1px 1px #fff;
}

div.succes {
    border: 1px solid #b4e8aa;
    background: url('../images/comment_add.png') no-repeat;
    background-color: #e9f9e5;
}

div.succes div.title_message_sucess {
    color: #1c8400;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 16px;
    font-weight: bold;
    text-shadow: 1px 1px 1px #fff;
}

div.succes div.description_message_succes {
    color: #1c8400;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    text-shadow: 1px 1px 1px #fff;
}