/* 
    Document   : custom
    Created on : Jan 5, 2012, 2:06:15 AM
    Author     : WS
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
    display: block;
}


body {
    background: #f7f7f7;
    padding: 10px;
    margin: 0;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
}

#loading-progress {
    border: 1px solid #F8BB00;
    background: url('../images/loading.gif');
    background-color: #fff;
    width: 160px;
    height: 54px;
    left: 44%;
    top: 25%;
    position: absolute;
    z-index: 9999;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow:    0px 0px 10px 1px #ccc;
    -webkit-box-shadow: 0px 0px 10px 1px #ccc;
    box-shadow:         0px 0px 10px 1px #ccc;
    display: none;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.cl {
    font-size:0;
    line-height:0;
    height:0;
    display:block;
    clear:both;
}

#bound {
    min-width: 850px;
    border: 1px solid #00acf2;
    padding: 3px;

    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow:    0px 0px 10px 1px #ccc;
    -webkit-box-shadow: 0px 0px 10px 1px #ccc;
    box-shadow:         0px 0px 10px 1px #ccc;

    background: #49c0f0; /* Old browsers */
    background: -moz-linear-gradient(top,  #49c0f0 0%, #2cafe3 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#49c0f0), color-stop(100%,#2cafe3)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #49c0f0 0%,#2cafe3 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #49c0f0 0%,#2cafe3 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #49c0f0 0%,#2cafe3 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #49c0f0 0%,#2cafe3 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#49c0f0', endColorstr='#2cafe3',GradientType=0 ); /* IE6-9 */

}

#info_user {
    text-align: right;
    color:#fff;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 11px;
    padding: 6px 4px 0 0;
    height: 21px;
    display: none;
}

#header {
    padding: 5px;
    height: 18px;
    border-bottom: 1px solid #00acf2;
}

#header .title {
    text-shadow: 1px 1px 1px #00acf2;
    color: #fff;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 13px;
    font-weight: bold;
}

#header .btn-top-bar {
    width: 93px;
    height: 18px;
    background: url('../images/btn-mme.png') no-repeat;
}

#page_menu {
    clear: both;
    height: 20px;
    padding: 3px 0 4px 0;
}

#content {
    clear: both;
    padding: 10px;
    background: #f7f7f7;
    border: 1px solid #00acf2;
}

#filter_box {
    clear: both;
    padding: 5px 0;
    height: 32px;
}

#filter_box div.left {
    float: left;
}

#filter_box div.right {
    float: right;
}

#border_content {
    clear: both;
    border: 1px solid #ccc;
    padding: 6px;
}

#board_content {
    clear: both;
    padding-top: 5px;
}

#title_content {
    padding: 0;
    height: 34px;
    font-family: Arial,Helvetica,sans-serif;
    font-weight: bold;
    border-bottom: 1px dashed #ccc;
    font-size: 14px;
}

#title_content div.left {
    float: left;
    padding-top: 7px;
}

#title_content div.right {
    float: right;
}

#box {
    background-color: #f7f7f7;
    clear: both;
    border: 1px solid #e78f08;
    padding: 6px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

#box div#box_title {
    height: 32px;
    padding: 2px;
    font-family: Arial,Helvetica,sans-serif;
    font-weight: bold;
    color: #fff;
    text-shadow: 1px 1px 1px #e78f08;

    background-position: 0 -80px;
    font-size: 14px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;

    background: #ffc578; /* Old browsers */
    background: -moz-linear-gradient(top,  #ffc578 0%, #fb9d23 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffc578), color-stop(100%,#fb9d23)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #ffc578 0%,#fb9d23 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #ffc578 0%,#fb9d23 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #ffc578 0%,#fb9d23 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #ffc578 0%,#fb9d23 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffc578', endColorstr='#fb9d23',GradientType=0 ); /* IE6-9 */

}

#box div#box_content {
    clear: both;
    padding-top: 5px;
}

#box div#box_title div.left {
    float: left;
    margin-top: 7px;
    margin-left: 6px;
}

#box div#box_title div.right {
    float: right;
}

#footer {
    text-align: right;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 11px;
    padding: 2px 0;
}

#message {
    clear: both;
    display: none;
}

#pageNotFound {
    background: url('../images/404.png') no-repeat;
    background-position: center top;
    height: 300px;
}

#info_publisher {
    border: 1px dashed #ccc;
    padding: 10px;
    margin:0 10px 10px 10px;
    -moz-box-shadow:    0px 0px 5px 1px #ccc;
    -webkit-box-shadow: 0px 0px 5px 1px #ccc;
    box-shadow:         0px 0px 5px 1px #ccc;
}

/* 
        LEVEL ONE
*/
ul.dropdown { position: relative; }
ul.dropdown li a { display: block;}
ul.dropdown li.hover, ul.dropdown li:hover { position: relative; }
ul.dropdown li.hover a { color: black; }


/* 
        LEVEL TWO
*/
ul.dropdown ul { visibility: hidden; position: absolute; top: 100%; left: 0; }
ul.dropdown ul li { float: none; }

/* IE 6 & 7 Needs Inline Block */
ul.dropdown ul li a { width: 100%; display: inline-block; } 

/* 
        LEVEL THREE
*/
ul.dropdown ul ul { left: 100%; top: 0; }
ul.dropdown li:hover > ul { visibility: visible; }


table.detail_form td {
    border-bottom: 1px dotted #ccc;
    padding: 4px 0;
}