.form-login {
    border: 1px solid #ccc;
    width: 325px;
    margin: 20px 0;
    padding: 20px;
    text-align: left;

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;

    -moz-box-shadow:    0px 0px 6px 1px #ccc;
    -webkit-box-shadow: 0px 0px 6px 1px #ccc;
    box-shadow:         0px 0px 6px 1px #ccc;
}

.form-login input[type=text], .form-login input[type=password]{
    padding: 10px;
    font-size: 16px;
    width: 300px;
}

.form-login input[type=submit] {
    padding: 10px 15px;
    border: 1px solid #ccc;
    font-size: 16px;
    font-weight: bold;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

div.box-list {
    padding: 4px 4px 4px 0;
}

div.box-list div.box-content {
    width: 580px;
    padding:10px;
    border: 1px solid #ccc;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow:    0px 0px 6px 1px #ccc;
    -webkit-box-shadow: 0px 0px 6px 1px #ccc;
    box-shadow:         0px 0px 6px 1px #ccc;
    margin: 10px 0;
}

div.box-list div.box-content div.box-main {
    text-align: justify;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 14px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background: #f5f5f5;
    border: 1px solid #ccc;
}

div.box-list div.box-content div.box-main div.box-time {
    text-align: center;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    font-weight: bold;
}

div.box-list div.box-content div.box-main div.box-time div.count-down {
    float: left;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 8px;
    font-weight: none;
    width: 64px;
    height: 64px;
    margin: 5px;
    background: url('../images/calendar-icon-64x64.png') no-repeat;
}

div.box-list div.box-content div.box-main div.box-time div.count-down div {
    font-weight: bold;
    font-size: 30px;
    margin-top: 23px;
    margin-bottom: 2px;
}

div.box-list div.box-content div.box-main div.box-time div.box-info {
    float: right;
    width: 490px;
    height: 62px;
    margin: 5px;
    border: 1px solid #ccc;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

div.box-list div.box-content div.box-main div.box-time div.box-info table{
    width: 100%;
    text-align: left;
    font-size: 14px;
}

div.box-list div.box-content div.box-main div.box-time div.box-info table th{
    background: #78ac70;
    color: #fff;
    padding: 7px;
    width: 100px;
}

div.box-list div.box-content div.box-main div.box-time div.box-info table td{
    background: #dcf3d8;
    color: #000;
    padding: 7px;
}

div.box-list div.box-content div.box-main div.box-qustion {
    border-top: 1px dashed #ccc;
    padding: 10px;
}

div.box-list div.box-content div.box-main div.box-qustion fieldset {
    border: 1px solid #ccc;
    padding: 10px;
}

div.box-list div.box-content div.box-main div.box-qustion fieldset legend {
    border-right: 1px solid #ccc;
    border-left: 1px solid #ccc;
    padding: 0 5px;
    font-weight: bold;
    text-shadow: 1px 1px 1px #fff;
}

div.box-list div.box-content div.box-button {
    text-align: right;
    border-top: 1px dashed #ccc;
    padding-top: 5px;
    margin-top: 8px;
}

div.box-list div.box-content div.box-button div.left {
    float: left;
}

div.box-list div.box-content div.box-button div.right {
    float: right;
}

input[class=optFollow], input[class=optSubmit] {
    border: 1px solid #147b03;
    padding: 4px 10px;
    cursor: pointer;
    color: #fff;
    background: #1ed100;
    text-shadow: 1px 1px 1px #147b03;
}

input[class=optFollowDisabled] {
    border: 1px solid #a8c4a3;
    padding: 4px 10px;
    cursor: pointer;
    color: #78ac70;
    background: #d5edd1;
    text-shadow: 1px 1px 1px #fff;
}

input[class=optFollow]:hover, input[class=optSubmit]:hover {
    background: #23ef01;
}

label.error {
    font-size: 11px;
    color:red;
    font-family: Arial,Helvetica,sans-serif;
}

table.statistic {
    margin: 5px 0 30px 0;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
}

table.statistic th {
    width: 100px;
    padding: 4px;
    text-align: left;
}

table.statistic td {
    padding: 4px;
}

div.box_message {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    padding: 5px 5px 5px 70px;
    min-height: 50px;
    margin: 5px 0;
}

div.error {
    border: 1px solid #e8aaad;
    background: url('../images/comment_error.png') no-repeat;
    background-color: #f9e5e6;
}

div.error div.title_message_error {
    color: #b50007;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 16px;
    font-weight: bold;
    text-shadow: 1px 1px 1px #fff;
}

div.error div.description_message_error {
    color: #b50007;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    text-shadow: 1px 1px 1px #fff;
}

div.succes {
    border: 1px solid #b4e8aa;
    background: url('../images/comment_add.png') no-repeat;
    background-color: #e9f9e5;
}

div.succes div.title_message_sucess {
    color: #1c8400;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 16px;
    font-weight: bold;
    text-shadow: 1px 1px 1px #fff;
}

div.navtab-header {
    background: #ddd;
    padding: 4px 4px 0 4px;
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
}

div.navtab-header ul {
    list-style: none;
}

div.navtab-header li {
    float: left;
    margin-right: 4px;
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
}

div.navtab-header li a {
    background: #f7f7f7;
    padding: 8px;
    display: block;
}

div.navtab-content {
    padding: 8px;
    border: 1px solid #ccc;
}

table.my-grid {
    font-family: Arial,Helvetica,sans-serif;
    font-size: 10px;
}

table.my-grid thead tr {
    background: #f7f7f7;
}

table.my-grid thead th {
    padding: 5px;
    border-top: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

table.my-grid thead th.first, table.my-grid tbody td.first {
    border-left: 1px solid #ccc;
}

table.my-grid tbody td {
    padding : 5px;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

.icon-file {
    clear: both;
    margin-top : 10px;
}

.icon-file img {
    float: left;
    border: 1px solid #ccc;
    padding: 4px 2px;
}

.icon-file .info-file {
    float: left;
    margin-left: 4px;
}

.icon-file .opsi-file {
    margin-top: 4px;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
}

input[class=btnOption] {
    border: 1px solid #ccc;
    padding: 2px;
    cursor: pointer;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

input[class=btnOption]:hover {
    background: #dcf3d8;
}

input[class=btnUploadAvatar] {
    border: 1px solid #ccc;
    padding: 5px;
    cursor: pointer;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

input[class=btnSubmitStandar] {
    border: 1px solid #ccc;
    padding: 5px;
    cursor: pointer;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

#frameChangePassword td {
    padding: 5px;
}

#frameChangePassword input[type=password] {
    padding: 5px;
}

.box-news {
    width: 575px;
    border: 1px dashed #ccc;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    padding: 10px;

    -moz-box-shadow:    0px 0px 6px 1px #ccc;
    -webkit-box-shadow: 0px 0px 6px 1px #ccc;
    box-shadow:         0px 0px 6px 1px #ccc;
}

.box-news .title {
    font-weight: bold;
    font-family: 'Times New Roman',Times,serif;
    font-size: 14px;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px dashed #ccc;
}

.box-news .footer {
    font-family: Arial,Helvetica,sans-serif;
    font-size: 11px;
    margin-top: 10px;
    padding-top: 10px;
    border-top: 1px dashed #ccc;
}

.box-news .footer .left {
    float: left;
}

.box-news .footer .right {
    float: right;
}

.view-news .title {
    border-bottom: 1px dashed #ccc;
    padding: 10px 0;
    font-family: 'Times New Roman',Times,serif;
    font-size: 18px;
}

.view-news .content {
    margin-top: 20px;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
}

#bigPic{
    width:280px;
    height:380px;
    padding:5px;
    border:1px solid #CCC;
    background-color:#FFF;
    margin-bottom:10px;
}

#bigPic #info-slide {
    z-index: 2;
    position: absolute;
    background: #ccc;
    margin-top: 330px;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 14px;
    font-weight: bold;
    padding: 10px;
    min-width: 150px;
}

#bigPic img{
    position:absolute;
    display:none;
}
ul#thumbs li.active img{
    border:1px solid #000;
}
ul#thumbs, ul#thumbs li{
    margin:0;
    padding:0;
    list-style:none;
}

ul#thumbs li{
    float:left;
    margin-right:7px;
    margin-bottom:5px;
    padding:3px;
    cursor:pointer;
}
ul#thumbs img{
    border:1px solid #CCC;	
    float:left;
    width:80px;
    height:80px;
    line-height:80px;
    overflow:hidden;
    position:relative;
    padding: 5px;
    z-index:1;		
}