/* 
    Document   : custom
    Created on : Jan 5, 2012, 2:06:15 AM
    Author     : WS
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
    display: block;
}

#loading-progress {
    border: 1px solid #F8BB00;
    background: url('../images/loading.gif');
    background-color: #fff;
    width: 160px;
    height: 54px;
    left: 44%;
    top: 5%;
    position: absolute;
    z-index: 9999;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    display: none;
}

.cls {
    font-size:0;
    line-height:0;
    height:0;
    display:block;
    clear:both;
}

.float-right {
    float: right;
}

.float-left {
    float: left;
}

.print_row_2 {
    text-transform: uppercase;
}

.print_row_3 {
    text-transform: lowercase;
}

label.error {
    color: red;
    font-style: italic;
    font-size: 10px;
    font-family: Arial,Helvetica,sans-serif;
    display: block;
}

table.table-form td {
    vertical-align:middle;
}

table.table-form td:first-child {
    vertical-align: top;
}

table.table-form td:first-child + td {
    vertical-align: top;
    padding: 9px 0 0 0;
}

table.table-detail td {
    vertical-align:middle;
    padding: 5px;
}

table.table-detail td:first-child {

}

table.table-detail td:first-child + td + td {
    border-bottom: 1px dashed #ccc;
}

.box-button-tab {
    text-align: right;
    border-top: 1px dashed #4a96d1;
    margin: 10px 0 0 0;
    padding: 10px 0 0 0;
}

body {
    background: #f7f7f7;
    padding: 0px;
    margin: 0px;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
}

h5 {
    font-size: 10pt;
    margin: 0;
    padding: 0;
}


fieldset {
    border: 1px solid #ccc;
}

fieldset legend {
    border: 1px solid #ccc;
    padding: 5px;
}

.mainwrapper {
    min-width: 800px;
}

.header {
    height: 110px;
    background-color: #0866c6;
}

.logo {
    float: left;
    color: #fff;
    width: 260px;
    text-align: center;
    margin: 28px 0 0 0;
}

.user-logged-info {
    float: right;
    width: 315px;
    margin: 11px 0 0 0;
}

.user-logged-info .photo {
    float: left;
    padding: 3px;
    background-color: #3985d2;
    width: 80px;
    height: 80px;
}

.user-logged-info .photo img {
    width: 80px;
    height: 80px;
}

.user-logged-info .user-info {
    float: left;
    margin: 0 0 0 10px;
    color: #fff;
}

.user-logged-info .user-info ul {
    list-style: none;
    padding: 0;
    margin: 4px 0 0 0;
    width: 212px;
    font-size: 8pt;
}

.user-logged-info .user-info ul li {
    -moz-transition:background-color 0.5s;
    -webkit-transition:background-color 0.5s;
    -o-transition:background-color 0.5s;
    transition:background-color 0.5s;

    background-color: #2075cc;
    margin: 1px 0;
    padding: 3px 4px;
}

.user-logged-info .user-info ul li:hover {
    background-color: #579ade;
}

.user-logged-info .user-info ul li a {
    color: #fff;
    text-decoration: none;
    display: block;
}

.left-panel {
    width: 260px;
    background-color: #282828;
}

.right-panel {

}

.left-menu .nav-title {
    background-color: #232323;
    color: #8f8f8f;
    font-size: 8pt;
    height: 24px;
    padding: 8px 0 0 14px;
}

.left-menu .nav {
    padding: 0;
    margin: 0;
    list-style: none;
}

.left-menu .nav li {
    -moz-transition:background-color 0.5s;
    -webkit-transition:background-color 0.5s;
    -o-transition:background-color 0.5s;
    transition:background-color 0.5s;
}

.left-menu .nav li:hover {
    background-color: #2c2c2c;
}

.left-menu .nav a {
    -moz-transition: opacity 0.5s;
    -webkit-transition: opacity 0.5s;
    -o-transition: opacity 0.5s;
    transition: opacity 0.5s;

    display: block;
    padding: 12px 10px 12px 45px;
    font-size: 11pt;
    text-decoration: none;
    color: #fff;
    border-bottom: 1px solid #232323;

    background-position:  15px center;

    opacity:0.5;
    filter:alpha(opacity=50);
}

.left-menu .nav a:hover {
    opacity:1;
    filter:alpha(opacity=100);
}

.left-menu .nav li ul {
    padding: 0;
    margin: 0;
    background-color: #eee;
    display: none;
}

.left-menu .nav li ul a {
    -moz-transition: background-color 0.5s;
    -webkit-transition: background-color 0.5s;
    -o-transition: background-color 0.5s;
    transition: background-color 0.5s;

    display: block;
    padding: 12px 10px 12px 45px;
    font-size: 11pt;
    text-decoration: none;
    color: #333;
    border-bottom: 1px solid #ddd;

    opacity:1;
    filter:alpha(opacity=100);
}

.left-menu .nav li ul a:hover {
    background-color: #fff;
}

.left-menu .nav li.dropdown {
    background: url(../images/bcarrow.png) no-repeat;
    background-position:  right 10px top 15px;
}

.breadcrumbs {
    background: url(../images/bg2.png) repeat-x; 
    height: 31px;
}

.breadcrumbs .home {
    float: left;
    margin: 0 0 0 10px;
}

.breadcrumbs ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.breadcrumbs ul li {
    float: left;
    padding: 0 0 0 10px;
    margin-left: 5px;
    margin-top: 7px;
    font-size: 8pt;
    background: url(../images/bcarrow.png) no-repeat; 
    background-position: left center;
}

.maincontent .maincontentinner {
    background: url(../images/bg1.png); 
    padding: 20px;
}

.headtitle {
    background-color: #0866c6;
}

.headtitle .widgettitle {
    color: #fff;
    padding: 10px;
    float: left;
}

.headtitle .btn-group {
    float: right;
    border-left: 1px solid #3985d2;
    position:relative;
}

.headtitle .btn-group a[class=dropdown] {
    display: block;
    border: none;
    cursor: pointer;
    color: #fff;
    text-decoration: none;
    text-align: center;
    padding: 10px 25px 10px 10px;
    background: url(../images/arrow2.png) no-repeat;
    background-position:  right 10px center;
}

.headtitle .btn-group ul {
    z-index: 10;
    display: none;
    position: absolute;
    right: 5px;
    top: 40px;
    padding: 5px;
    margin: 0;
    list-style: none;
    border: 1px solid #ccc;
    background-color: #fff;
    min-width: 150px;

    -moz-box-shadow: 0 0 5px 1px #ccc;
    -webkit-box-shadow: 0 0 5px 1px #ccc;
    box-shadow: 0 0 5px 1px #ccc;
}

.headtitle .btn-group ul li a{
    padding: 5px;
    display: block;
    text-decoration: none;
    color: #333;
    -moz-transition: background-color 0.5s, color 0.5s;
    -webkit-transition: background-color 0.5s, color 0.5s;
    -o-transition: background-color 0.5s, color 0.5s;
    transition: background-color 0.5s, color 0.5s;
}

.headtitle .btn-group ul li a:hover {
    background-color: #333;
    color: #fff;
}

.widgetcontent {
    padding: 10px;
    background-color: #fff;
    border-bottom: 2px solid #0866c6;
    border-left: 2px solid #0866c6;
    border-right: 2px solid #0866c6;
}

.borrowed-info {
    min-height: 110px;
}

.borrowed-info .members-info {
    padding: 0 0 0 10px;
    text-align: left;
    margin:  0 0 0 20px;
    min-height: 100px;
    display: none;
}

.borrowed-info .members-info #member-photo {
    border: 1px solid #ccc;
    padding: 2px;
    width: 70px;
    height: 95px;
    -moz-box-shadow:    0px 0px 10px 1px #ccc;
    -webkit-box-shadow: 0px 0px 10px 1px #ccc;
    box-shadow:         0px 0px 10px 1px #ccc;
}

.borrowed-info .members-info .members-profile {
    margin: 0 10px 0 0;
    text-align: left;
    border: 1px solid #ccc;
    padding: 10px;
    height: 80px;
    min-width: 300px;
    -moz-box-shadow:    0px 0px 10px 1px #ccc;
    -webkit-box-shadow: 0px 0px 10px 1px #ccc;
    box-shadow:         0px 0px 10px 1px #ccc;
}

.borrowed-info .members-info .members-profile-not-found {
    margin: 30px 10px 0 0;
    text-align: left;
    border: 1px solid #ccc;
    padding: 10px;
    color: red;
    -moz-box-shadow:    0px 0px 10px 1px #ccc;
    -webkit-box-shadow: 0px 0px 10px 1px #ccc;
    box-shadow:         0px 0px 10px 1px #ccc;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 14px;
    font-weight: bold;
}

.view-cart-list {
    padding: 10px 2px 0 2px;
}

#borrowed-cart #view-invoice {
    display: none;
}

#borrowed-cart #view-invoice iframe {
    width: 100%;
}

/*  Sign In Style  */
.signin {
    width: 300px;
}

.signin input[type=text], .signin input[type=password] {
    padding: 10px;
    border: 1px solid #fff;
    width: 250px;
    margin: 5px 0;
}

.signin input[type=submit] {
    border : 1px solid #0c57a3;
    padding : 10px;
    width: 272px;
    background-color: #0972dd;
    color: #fff;
    font-weight: bold;
    font-size: 11pt;
    margin: 5px 0;
}

.signin .keepme {
    text-align: left;
    color: #fff;
    font-size: 10pt;
    padding:5px 0 0 12px;
}

.label-ina {
    font-weight: bold;
}

.label-eng {
    font-style: italic;
    font-size: 10px;
}

#preview_call_number {
    border: 1px solid #ccc;
    width: 135px;
    padding: 10px;
    float: left;
}

#preview_call_number div {
    padding: 5px;
    background-color: #f8f8f8;
    margin: 4px 0;
    text-align: center;
}

#desc_call_number {
    padding: 10px;
    float: left;
}

#desc_call_number div {
    padding: 5px;
    margin: 4px 0;
}


/* Icon */
.ic-black-leaf {
    background: url(../images/black-leaf.png) no-repeat;
}

.ic-black-folder-open {
    background: url(../images/black-folder-open.png) no-repeat;
}

.ic-black-home {
    background: url(../images/black-home.png) no-repeat;
}

.ic-black-cargo {
    background: url(../images/black-cargo.png) no-repeat;
}

.ic-black-book {
    background: url(../images/black-book.png) no-repeat;
}

.ic-black-qrcode {
    background: url(../images/black-qrcode.png) no-repeat;
}

.ic-black-retweet2 {
    background: url(../images/black-retweet2.png) no-repeat;
}

.ic-black-shopping-cart {
    background: url(../images/black-shopping-cart.png) no-repeat;
}

.ic-black-parents {
    background: url(../images/black-parents.png) no-repeat;
}

.ic-black-file {
    background: url(../images/black-file.png) no-repeat;
}

.ic-black-charts {
    background: url(../images/black-charts.png) no-repeat;
}

.ic-black-cogwheel {
    background: url(../images/black-cogwheel.png) no-repeat;
}

.ic-black-info {
    background: url(../images/black-info.png) no-repeat;
}

.ic-grey-arrow1 {
    background: url(../images/arrow1.png) no-repeat;
}

.flexigrid div.fbutton .add {
    background: url(../images/add.png) no-repeat center left;
}

.flexigrid div.fbutton .delete {
    background: url(../images/close.png) no-repeat center left;
}

.flexigrid div.fbutton .print {
    background: url(../images/print.png) no-repeat center left;
}

.flexigrid div.fbutton .issue {
    background: url(../images/issue.png) no-repeat center left;
}

.flexigrid div.fbutton .card {
    background: url(../images/credit-card.png) no-repeat center left;
}

.flexigrid div.fbutton .earse {
    background: url(../images/earse.png) no-repeat center left;
}

.flexigrid div.fbutton .report {
    background: url('../images/1357896914_report.png') no-repeat center left;
}

.bg-medium {
    -moz-background-size: auto 16px;
    -o-background-size: auto 16px;
    -webkit-background-size: auto 16px; 
    background-size: auto 16px;
}

/* Form */
.form-grey {
    border: 1px solid #ccc;
    padding: 6px;
}

.form-readonly {
    border: 1px solid #ccc;
    background-color: #f4f4f4;
    padding: 6px;
    color: #666;
}

.button-mid-solid-blue {
    padding: 6px 10px;
    border: 1px solid #0a6bce;
    background-color: #0866c6;
    color: #fff;
}

.button-mid-solid-red {
    padding: 6px 10px;
    border: 1px solid #aa0000;
    background-color: #dd0000;
    color: #fff;
}

.button-mid-solid-orange {
    padding: 6px 10px;
    border: 1px solid #daa004;
    background-color: #fcb904;
    color: #fff;
}

.button-mid-solid-green {
    padding: 6px 10px;
    border: 1px solid #6db814;
    background-color: #86d628;
    color: #fff;
}

.button-mid-solid-bluesky {
    padding: 6px 10px;
    border: 1px solid #4a96d1;
    background-color: #71b8ee;
    color: #fff;
}

.button-mid-solid-black {
    padding: 6px 10px;
    border: 1px solid #272727;
    background-color: #333333;
    color: #fff;
}

.button-mid-solid-grey {
    padding: 6px 10px;
    border: 1px solid #bbbbbb;
    background-color: #eeeeee;
    color: #fff;
}

.button-mid-outline-blue {
    padding: 6px 10px;
    border: 1px solid #0a6bce;
    background-color: #fff;
    color: #0a6bce;
}

.button-mid-outline-red {
    padding: 6px 10px;
    border: 1px solid #aa0000;
    background-color: #fff;
    color: #aa0000;
}

.button-mid-outline-orange {
    padding: 6px 10px;
    border: 1px solid #daa004;
    background-color: #fff;
    color: #daa004;
}

.button-mid-outline-green {
    padding: 6px 10px;
    border: 1px solid #6db814;
    background-color: #fff;
    color: #6db814;
}

.button-mid-outline-bluesky {
    padding: 6px 10px;
    border: 1px solid #4a96d1;
    background-color: #fff;
    color: #4a96d1;
}

.button-mid-outline-black {
    padding: 6px 10px;
    border: 1px solid #272727;
    background-color: #fff;
    color: #272727;
}

.button-mid-outline-grey {
    padding: 6px 10px;
    border: 1px solid #bbbbbb;
    background-color: #fff;
    color: #bbbbbb;
}

/* Custom */
.flexigrid {
    text-align: left;
}

.ui-multiselect {
    height: 32px;
}

/* Message */
div.box_message {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    padding: 5px 5px 5px 70px;
    min-height: 50px;
    margin: 5px 0 10px 0;
    text-align: left;
}

div.error {
    border: 1px solid #e8aaad;
    background: url('../images/comment_error.png') no-repeat;
    background-color: #f9e5e6;
}

div.error div.title_message_error {
    color: #b50007;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 16px;
    font-weight: bold;
    text-shadow: 1px 1px 1px #fff;
}

div.error div.description_message_error {
    color: #b50007;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    text-shadow: 1px 1px 1px #fff;
}

div.succes {
    border: 1px solid #b4e8aa;
    background: url('../images/comment_add.png') no-repeat;
    background-color: #e9f9e5;
}

div.succes div.title_message_sucess {
    color: #1c8400;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 16px;
    font-weight: bold;
    text-shadow: 1px 1px 1px #fff;
}

div.succes div.description_message_succes {
    color: #1c8400;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    text-shadow: 1px 1px 1px #fff;
}

/* Katalog Foramat */
.confFrameCatalogue {
    border: 1px solid #ccc;
    padding: 10px;
    width: 492px;
    height: 296px;
}

.confCatalogue {
    width: 100%;
}

.confCallNumber {
    width: 50px;
}

.confCatalogueContent {
    padding-top: 20px;
    
}